<%- include('partials/header'); -%>

<div class="main-container">

  <div class="body-wrapper">
    <header>

      <div>This is admin section that can only acceessible to admin users. </div>
    
    </header>
  </div>
  
  
</div>
<%- include('partials/footer'); -%>