<%- include('partials/header'); -%>

<div class="main-container">

  <div class="body-wrapper">
    <header>

      <div>This is a protected route that can only acceessible to the logged in users. </div>
    
    </header>
  </div>
  
  
</div>
<%- include('partials/footer'); -%>